In [36]:
import sqlite3

In [37]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [38]:
connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""

#cursor.execute(create_table)

connection.commit()

connection.close()

In [42]:
classroom_data = [( 1, "Raj", "M", 70, 84, 92), ( 2, "Poonam", "F", 87, 69, 93), ( 3, "Nik", "M", 65, 83, 90), ( 4, "Rahul", "F", 83, 76, 89)]

connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom 
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])
    
    cursor.execute(insert_statement)
    
connection.commit()
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

In [41]:
connection = sqlite3.connect("classroomDB.db")

cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result: 
    print(row)
    
connection.close()

(1, u'Raj', u'M', 70, 84, 92)
(2, u'Poonam', u'F', 87, 69, 93)
(3, u'Nik', u'M', 65, 83, 90)
(4, u'Rahul', u'F', 83, 76, 89)

In [ ]:
!conda install -y -q pymysql

In [ ]:
import pymysql